.controllers-page {

  }
  .container-title{
    margin-bottom: 2rem;
    padding-bottom:2rem ;
  }
  
  .controllers-page h1 {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 2rem;
  }
  
  .admin-section {
 
  }
  
  .management-section {
    background: white;
    padding: 1.5rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
  }

  @media (max-width: 992px) {

    .admin-section {
      margin: 0px;
      width: auto;}
      .container-title{
      margin-bottom: 2rem;
        display: block;

      }
    }