.container-title {
  padding-top: 2rem;
  padding-left:1rem ;
  padding-right:1rem ;
  background-color: #17202a;
  height: 100px;

}
  
  
  .users-page h1 {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
  }

  .users-header{
    
  }
  
  .unauthorized {
    text-align: center;
    padding: 2rem;
    color: var(--danger-color);
    background: rgba(247, 37, 133, 0.1);
    border-radius: var(--border-radius);
    max-width: 600px;
    margin: 0 auto;
  }
  
  .unauthorized h2 {
    margin-bottom: 1rem;
  }

  @media (max-width: 768px) {
    .container-title {
      padding-top: 2rem;
      padding-left:1rem ;
      padding-right:1rem ;
      background-color: #f5f7fa;
      height: 100px;
    
    }
  }